/* Fonts */
@font-face {
  font-family: 'Made Tommy Regular';
  src: url('./assets/fonts/MADE TOMMY Regular_PERSONAL USE.otf');
}
@font-face {
  font-family: 'FarnhamText-Semi Regular';
  src: url('./assets/fonts/FarnhamText-Semi Regular.otf');
}



* {
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Made Tommy Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FarnhamText-Semi Regular';
}



html {
  --cs-light: #fff;
  --cs-blue: #91bbbe;
  --cs-gray-green: #5c895a;
  --cs-alt-green: #436a62;
  --cs-dark: #041a1e;
  --cs-bg-blue: #8fbbc5;
  --cs-dark-o: #041a1e55;

  background: rgb(2,33,39);
  background: linear-gradient(0deg,
    rgba(2,33,39,1) 0%,
    rgba(76,96,68,1) 25%,
    rgba(170,176,60,1) 50%,
    rgba(161,198,202,1) 75%);
  color: var(--cs-light);
  scroll-behavior: smooth;

}
body {
  --header-height: 55px;

  /* height: 5000px; */
}




a {
  text-decoration: none;
  transition: .2s;
  color: var(--cs-light);
}
a:hover {
  /* text-decoration: underline; */
}




/* Containers */
main {
  width: 100%;
}

main div.container {
  --width: 1280px;

  width: 100%;
  max-width: var(--width);
  margin: 5rem auto 3rem auto;
}
main div.container.mt-2 {
  margin: 2rem auto 3rem auto;
}

main div.container-fluid {
  width: 100%;
}




/* Header */
header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: var(--cs-dark);
  background-color: var(--cs-dark-o);
  z-index: 2;
}
header div.wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img.logo {
  /* padding: 0 0 0 1.5rem; */
}
header nav.wide {

}
header nav {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 1.5rem;


}
header nav a {
  padding: 5px 20px;
  color: var(--cs-light);
  /* margin: 5px 20px; */
  /* font-family: 'FarnhamText-Semi Regular'; */
}
header nav a:hover {
  color: var(--cs-dark);
  background-color: var(--cs-light);
}
header nav a:first-child {
  /* margin: 5px 20px 5px 0; */
}
header nav a:last-child {
  /* margin: 5px 0 5px 20px; */
}




/* Menu Button */
div.menu-btn {
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: none;
  cursor: pointer;

  position: relative;
  z-index: 9999;
}
div.menu-btn * {
  height: 5px;
  width: 100%;
  margin: 6px 0;
  background-color: var(--cs-light);
  transition: .1s;
}
div.menu-btn.active *:nth-child(1) {
  transform: rotate(45deg) translate(0, 16px);
}
div.menu-btn.active *:nth-child(2) {
  opacity: 0;
}
div.menu-btn.active *:nth-child(3) {
  transform: rotate(-45deg) translate(0px, -16px);
}




/* Mobile Menu */
menu.mobile-menu {
  position: fixed;
  min-height: 100vh;
  background-color: var(--cs-dark);
  max-width: 400px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .2s;
  left: -100%;
  display: none;
}
menu.mobile-menu.active {
  left: 0;
}
menu.mobile-menu div {
  position: relative;
}
menu.mobile-menu ul {
  margin: 4rem 0 0 0;
  padding: 0 2rem;
  height: 100vh;
  overflow-y: auto;
  list-style: none;
  font-size: 1.5rem;
}
menu.mobile-menu ul li {
  padding: .5rem;
}
menu.mobile-menu a {
  color: var(--cs-light);
}




/* Hero */
div.hero {
  transform: translate(0, calc(var(--header-height) * -1));
  height: 75vw;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./assets/hero.png');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
div.hero h1 {
  text-transform: uppercase;
  color: var(--cs-light);
  font-size: 8vw;

  transform: translate(0, -8vw);
}




/* Text-block */
div.text-block {
   max-width: 580px;
   margin: 0 auto;
   padding: 0 1rem;
}
div.text-block h2 {
   text-align: center;
   margin: 0 0 2rem 0;
   font-size: 1.75rem;
}
div.text-block.nomargin h2 {
  margin: 0;
}
div.text-block p:not(:only-child) {
   margin: 2rem 0;
}
div.text-block p:first-child:not(:only-child) {
   margin: 0 0 2rem 0;
}
div.text-block p:last-child:not(:only-child) {
   margin: 2rem 0 0 0;
}
div.text-block h2.alt-color {
  color: var(--cs-blue);
}
div.text-block.narrow {
  max-width: 450px;
}




/* Image block */
div.image-block {
  text-align: center;
  width: 100%;
}
div.image-block img {
  /* width: calc(100% - 2rem); */
}




/* Seaweed Block */
div.seaweed-block {
  max-width: 100px;

  display: flex;
  flex-direction: column;
  background-color: var(--cs-alt-green);
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  border-radius: 100px;
}
div.seaweed-block div.item {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
}
div.seaweed-block img {
  max-width: 100%;
}




/* col-2 */
div.container.col-2,
div.container-fluid.col-2 {
  display: flex;
}
div.container.col-2.cards {
  justify-content: space-around;
}
div.container.col-2.cards div.card div.text-body {
  text-align: left;
}
div.container.col-2.cards div.card {
  width: 50%;
}




/* col-3 */
div.container.col-3 {
  display: flex;
  justify-content: center;
}
div.container.col-3 div.col-item:nth-child(1) {
  width: 35%;
}
div.container.col-3 div.col-item:nth-child(2) {
  width: 25%;
}
div.container.col-3 div.col-item:nth-child(3) {
  width: 15%;
}
div.container.col-3.cards {
  justify-content: space-around;
}
div.container.col-3.cards a {
  width: 33.33333%;
}
div.container.col-3.cards img {
  transition: .2s;
}
div.container.col-3.cards a:hover img {
  transform: scale(1.05);
}


/* Utility */
.w-30 {
  width: 30%;
}
.two-col-text {
  max-width: 580px !important;
  width: 100%;
}
.two-col-text p {
  padding: 0;
}




/* Card */
div.card {
  padding: 1rem;
}
div.card img {
  width: 100%;
  border-radius: 5px;
}
div.card div.text-body {
  padding: 1rem;
  text-align: center;
}




/* Map Legend */
.map-legend {
  display: flex;
  justify-content: flex-end;
  padding: 0 2rem;
  transform: translate(0, -5vw);
}
.map-legend img.legend-icon {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
  vertical-align: middle;
}




/* Links */
.links {
  list-style: none;
  text-align: center;
}
.links a:hover {
  text-decoration: underline;
}
.links li {
  margin: 1rem;
}




/* Footer */
footer {
  text-align: center;
  padding: 1rem;
}



/* Responsive */
@media only screen and (max-width: 1255px) {
  header nav.wide {
    display: none;
  }

  menu.mobile-menu,
  div.menu-btn {
    display: block;
  }
}
@media only screen and (max-width: 1000px) {
  div.image-block {
    width: 100%;
    margin: 1.5rem 0;
  }
  div.container.col-2 {
    flex-direction: column;
  }
  .w-30 {
    width: 100%;
  }
  .two-col-text p {
    margin: .5rem 0;
  }

  /* Col 3 */
  div.container.col-3 {
    width: 100%;
    display: flex;
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
  div.container.col-3 div.col-item:nth-child(1),
  div.container.col-3 div.col-item:nth-child(2),
  div.container.col-3 div.col-item:nth-child(3) {
    width: calc(100% - 2rem * 2);
    margin: 1rem 0;
    /* padding: 0 1rem; */
  }

  div.container.col-3 div.text-block {
    padding: 0;
  }

  /* Seaweed */
  div.seaweed-block {
    max-width: calc(450px - 2rem * 2);
    flex-direction: row;
    padding: 0;
    justify-content: space-around;
  }

  /* Cards col 2*/
  div.container.col-3.cards a {
    width: 100%;
  }

  /* Map Legend */
  .map-legend {
    max-width: 400px;
    width: calc(100% - 2rem);
    margin: 0 auto;
    display: block;
    padding: 0;
    transition: none;
  }

  /* Cards col 3 */
  div.container.col-2.cards {
    justify-content: column;
  }
  div.container.col-2.cards div.card {
    width: calc(100% - 2rem);
  }
}
