/* Fonts */
@font-face {
  font-family: 'Made Tommy Regular';
  src: url('./assets/fonts/MADE TOMMY Regular_PERSONAL USE.otf');
}
@font-face {
  font-family: 'FarnhamText-Semi Regular';
  src: url('./assets/fonts/FarnhamText-Semi Regular.otf');
}



* {
  outline: none;
  padding: 0;
  margin: 0;
  font-family: 'Made Tommy Regular';
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'FarnhamText-Semi Regular';
}



html {
  --cs-light: #fff;
  --cs-blue: #91bbbe;
  --cs-cyan: #436a62;
  --cs-gray-green: #5c895a;
  --cs-dark: #041a1e;
  --cs-bg-blue: #8fbbc5;
  --cs-dark-o: #041a1e55;

  background-color: var(--cs-dark);
  color: var(--cs-light);
  scroll-behavior: smooth;

  /* temp background */
  background: red;
}
body {
  --header-height: 55px;

  /* height: 5000px; */
}




a {
  text-decoration: none;
  transition: .2s;
}
a:hover {
  /* text-decoration: underline; */
}




/* Containers */
main {
  width: 100%;
}

main div.container {
  --width: 1280px;

  width: 100%;
  max-width: var(--width);
  margin: 5rem auto 3rem auto;
}

main div.container-fluid {
  width: 100%;
}




/* Header */
header {
  width: 100%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;

  background-color: var(--cs-dark);
  background-color: var(--cs-dark-o);
  z-index: 2;
}
header div.wrap {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header img.logo {
  /* padding: 0 0 0 1.5rem; */
}
header nav.wide {

}
header nav {

  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding: 0 1.5rem;


}
header nav a {
  padding: 5px 20px;
  color: var(--cs-light);
  /* margin: 5px 20px; */
  /* font-family: 'FarnhamText-Semi Regular'; */
}
header nav a:hover {
  color: var(--cs-dark);
  background-color: var(--cs-light);
}
header nav a:first-child {
  /* margin: 5px 20px 5px 0; */
}
header nav a:last-child {
  /* margin: 5px 0 5px 20px; */
}




/* Menu Button */
div.menu-btn {
  width: 40px;
  height: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  display: none;
  cursor: pointer;

  position: relative;
  z-index: 9999;
}
div.menu-btn * {
  height: 5px;
  width: 100%;
  margin: 6px 0;
  background-color: var(--cs-light);
  transition: .1s;
}
div.menu-btn.active *:nth-child(1) {
  transform: rotate(45deg) translate(0, 16px);
}
div.menu-btn.active *:nth-child(2) {
  opacity: 0;
}
div.menu-btn.active *:nth-child(3) {
  transform: rotate(-45deg) translate(0px, -16px);
}




/* Mobile Menu */
menu.mobile-menu {
  position: fixed;
  min-height: 100vh;
  background-color: var(--cs-dark);
  max-width: 400px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  transition: .2s;
  left: -100%;
  display: none;
}
menu.mobile-menu.active {
  left: 0;
}
menu.mobile-menu div {
  position: relative;
}
menu.mobile-menu ul {
  margin: 4rem 0 0 0;
  padding: 0 2rem;
  height: 100vh;
  overflow-y: auto;
  list-style: none;
  font-size: 1.5rem;
}
menu.mobile-menu ul li {
  padding: .5rem;
}
menu.mobile-menu a {
  color: var(--cs-light);
}




/* Hero */
div.hero {
  /* height: calc(100vh - var(--header-height)); */
  height: 75vw;
  /* min-height: 600px; */

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--cs-bg-blue);

  background-image: url('./assets/hero.png');
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
}
div.hero h1 {
  text-transform: uppercase;
  color: var(--cs-light);
  font-size: 8vw;

  transform: translate(0, -8vw);
}




/* Text-block */
div.text-block {
   max-width: 600px;
   margin: 0 auto;
   padding: 0 1rem;
}
div.text-block h2 {
   text-align: center;
   margin: 0 0 2rem 0;

}
div.text-block p:not(:only-child) {
   margin: 2rem 0;
}
div.text-block p:first-child:not(:only-child) {
   margin: 0 0 2rem 0;
}
div.text-block p:last-child:not(:only-child) {
   margin: 2rem 0 0 0;
}
div.text-block h2.alt-color {
  color: var(--cs-blue);
}
div.text-block.narrow {
  max-width: 450px;
}




/* image block */
div.image-block {
  text-align: center;
  width: 100%;
}
div.image-block img {
  /* width: calc(100% - 2rem); */
}




/* col-2 */
div.container.col-2,
div.container-fluid.col-2 {
  display: flex;
}




/* Responsive */
@media only screen and (max-width: 1255px) {
  header nav.wide {
    display: none;
  }

  menu.mobile-menu,
  div.menu-btn {
    display: block;
  }
}
@media only screen and (max-width: 680px) {
  div.image-block {
    width: 100%;
    margin: 1.5rem 0;
  }
  div.container.col-2 {
    flex-direction: column;
  }
}
